<!-- 全真模拟说明页面 -->
<div class="qzmn-desc">
    <header class="ui-header ui-header-positive">
        全真模拟说明
    </header>
    <footer class="ui-footer ui-footer-positive" ng-click="goItemDetail($event)">
        开始测试
    </footer>
    <section class="ui-container ui-whitespace">
        <div class="ui-panel">
            <div class="label">
                <img class="icon" src="img/itembank/item/icon-jishi.png">
                <span>计时模拟</span>
            </div>
            <div class="content">
                本次模拟总时间为120分钟，135道题，请注意右上角倒计时，按时完成答卷。
            </div>
        </div>
        <div class="ui-panel">
            <div class="label">
                <img class="icon" src="img/itembank/item/icon-quanzhong.png">
                <span>分值权重</span>
            </div>
            <div class="content">
                本次试卷分值计算采取的分值权重为：
                常识判断难度系数为0.7（每题），言语理解难度为0.8，数量关系为0.7，图形推理为0.7，定义判断为0.8，类比判断为0.8，
                逻辑判断为0.8，资料分析0.8（该分值权重为针对历年国考成绩大数据分析所得，仅供参考）。
            </div>
        </div>
        <div class="ui-panel">
            <div class="label">
                <img class="icon" src="img/itembank/item/icon-save.png">
                <span>退出保存</span>
            </div>
            <div class="content">
                如果中途有事，请保存退出，下次继续测试，时间会从退出时间继续计时。
            </div>
        </div>
    </section>
</div>