<img src="img/itembank/index/bg.jpg" style="width:100%;height:100%;position:fixed;top:0;left:0;z-index:-1;">

<section class="ui-panel ui-whitespace itembank">
    <div class="ui-row-flex ui-whitespace">
        <div class="ui-col ui-col">
            <img class="title-icon" src="img/itembank/index/sjcs.png" ng-click="goItemDetail('sjcs')"/>
        </div>
        <div class="ui-col ui-col">
            <img class="title-icon" src="img/itembank/index/zxts.png" ng-click="goItemDetail('zxts')"/>
        </div>
    </div>
    <div class="ui-row-flex ui-whitespace">
        <div class="ui-col ui-col">
            <img class="title-icon" src="img/itembank/index/qzmn.png" ng-click="goItemDetail('qzmn')"/>
        </div>
        <div class="ui-col ui-col">
            <img class="title-icon" src="img/itembank/index/yctj.png"ng-click="goItemDetail('yctj')"/>
        </div>
    </div>
    <div class="ui-row-flex ui-whitespace">
        <div class="ui-col ui-col">
            <img class="title-icon" src="img/itembank/index/mszt.png" ng-click="goItemDetail('mszt')"/>
        </div>
        <div class="ui-col ui-col">
            <img class="title-icon" src="img/itembank/index/xxbg.png" ng-click="goItemDetail('xxbg')"/>
        </div>
    </div>
</section>