<img src="img/itembank/sjcs/bg.png" style="width:100%;height:100%;position:fixed;top:0;left:0;z-index:-1;">
<style>
    .itembank.sjcs .ui-col img{
        width:20%;
    }
</style>
<section class="ui-panel ui-whitespace itembank sjcs">
    <div class="ui-row-flex ui-whitespace">
        <div class="ui-col ui-col">
            <img class="title-icon" src="img/itembank/sjcs/newhand.png" ng-click="goItemDetail('newhand')"/>
        </div>
    </div>
    <div class="ui-row-flex ui-whitespace">
        <div class="ui-col ui-col">
            <img class="title-icon" src="img/itembank/sjcs/ordinaryhand.png" ng-click="goItemDetail('ordinaryhand')"/>
        </div>
    </div>
    <div class="ui-row-flex ui-whitespace">
        <div class="ui-col ui-col">
            <img class="title-icon" src="img/itembank/sjcs/oldhand.png" ng-click="goItemDetail('oldhand')"/>
        </div>
    </div>
</section>